.page-title{
    margin-bottom: 1rem;
}

.announcements-page form .announcements-section{
    margin-bottom: 0;
}

.announcements-page form button{
    max-width: 10rem;
    padding: .7rem 1rem;
    margin: 1rem 0;
    background: var(--aside-bg);
    color: var(--panel-color);
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 700;
}

#add-announcement-msg{
    color:green;
}