.change-pass-div{
    background:url(../../downloads/img/heroes-section/img4.webp);
    background-size:cover;
    background-repeat:none;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100vh;
}

.change-pass-div form{
    width:25rem;
    background:rgb(10,3,33,.7);
    padding:2rem 1rem;
    display:flex;
    justify-content:center;
    flex-flow:column wrap;
    color:#fff;
}

.change-pass-div form h2{
    text-align:center;
    color:#20e658;
    font-size:2rem;
}

.change-pass-div form label{
    margin-top:1rem;
}

.change-pass-div form input, form select{
    flex: 0 1 auto;
    width: 100%;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color:#fff;
    border:1px solid #fff;
    background:transparent;
}

.change-pass-div form button{
    width:10rem;
    padding:.3rem 0;
    border-radius:1rem;
    outline:none;
    border: none;
    background:transparent;
    color:#20e658;
    border:1px solid #20e658;
    cursor:pointer;
    transition:.5s ease;
    margin:auto;
    margin-top:1rem;
    margin-bottom:1rem;
}

.change-pass-div form button:hover{
    background:#00203FFF;
    color:#fff;
}