html{
    width: 100vw;
    overflow-x: hidden;
}

.image-slider-page{
    overflow-y: scroll;
    width: 100%;
}

.image-slider-page .image-slider{
    width: 100%;
    margin:2rem auto;
}

.image-slider-page .addImage form{
    display: flex;
    flex-flow: column wrap;
}

.image-slider-page .addImage form input[type='file']{
    margin-top: 1.5rem;
    color:blue;
    font-size:20px;
    cursor: pointer;
}

.image-slider-page .addImage form button{
    max-width: 10rem;
    padding: .7rem 1rem;
    margin: 1rem 0;
    background: var(--aside-bg);
    color: var(--panel-color);
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 700;
}

#add-image-msg{
    color:red;
}

@media(max-width:478px){
    .admin-page main{
        padding: 1rem 5px !important;
    }
    
}